@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  html {
    @apply text-slate-50;
  }

  body {
    @apply font-sans;
  }

  a,
  button,
  input,
  select,
  textarea {
    @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-[#FFBA08];
  }

  button {
    @apply cursor-pointer;
  }
}

.spinner-dots {
  position: relative;
}

.spinner-dots span {
  border-radius: 50%;
  position: absolute;
  height: 7px;
  width: 7px;
  background-color: #ffba08;
  transform: rotate(calc(var(--i) * (360deg / 10))) translateY(10px);
  animation: spinner-dots-animate 1s linear infinite;
  animation-delay: calc(var(--i) * 0.1s);
}

@keyframes spinner-dots-animate {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
